<% for(let i=0; i<data.length; i++) { %>
        <li class="cmt-comment">
            <div class="cmt-avatar" style="background-image:url(<%= data[i].avatar %>)"></div>
            <div class="cmt-content">
                <div class="cmt-row">
                    <div class="cmt-name"><%= data[i].name %></div>
                    <div class="cmt-date"><%= moment(data[i].timestamp).fromNow() %></div>
                </div>
                <div class="cmt-row">
                    <div class="cmt-text"><%= data[i].text %></div>
                </div>
                <div class="cmt-row">
                    <span class="cmt-reply">Reply</span>
                </div>
                <div class="cmt-row">
                    <ul class="cmt-comments" data-cmt-time="<%= data[i].timestamp %>"><%- getHtml(data[i].comments, templates.comments) %></ul>
                </div>
            </div>
        </li>
<% } %>
